html {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: Arial, Helvetica;
    margin: 0 auto;
    width: 300px
}

h1 {
    color: #D8D8D8;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.calculator {
    margin: 0 auto;
    margin-top: 10px;
    width: 216px;
    height: 362px;
    padding: 5px;
}

input {
    width: 208px;
    height: 50px;
    margin-bottom: 2px;
    border-radius: 2px;
    background-color: #D3FFDD;
    border: 1px solid #77A2A0;
    text-align: right;
    font-size: 30px;
    padding-right: 5px;
}

.buttons div {
    width: 50px;
    height: 50px;
    background-color: #5D8A87;
    margin: 1px;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-radius: 2px;
    border: 1px solid #2A6069;
}

#clear {
    width: 158px;
}

.buttons div:hover {
    background-color: #3F846B;
}


marquee {
	height: 25px;
	margin: 1px;
	margin-top: 2px;
	background-color: #F1DC63;
	border: 1px solid #FFE249;
	border-radius: 2px;
	text-align: center;
	line-height: 25px;
	color: #6F6D6D;
}

#multiply, #addition, #subtract, #divide {
    background-color: #4DA9CA;
    border: 1px solid #2B6275;
}

#multiply:hover, #addition:hover, #subtract:hover, #divide:hover {
    background-color: #36778E;
}

#equal {
    background-color: #43B78C;
    border: 1px solid #2A795C;
}

#equal:hover {
    background-color: #399C78;
}

#clear {
    background-color: #F98250;
    border: 1px solid #B1613F;
}

#clear:hover {
    background-color: #CE6A40;
}

#git {
    background-image: url(github.svg);
    background-repeat: no-repeat;
}