html {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    font-family: monospace;
    margin: 0 auto;
    width: 300px
}

h1 {
    color: #6F6D6D;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.calculator {
    margin: 0 auto;
    margin-top: 20px;
    width: 216px;
    height: 362px;
    background-color: #898A89;
    border-radius: 10px;
    padding: 5px;
    border: 3px solid #6F6D6D;
}

input {
    width: 208px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #BBDACF;
    border: 1px solid #CACACA;
    text-align: right;
    font-size: 30px;
    padding-right: 5px;
}

.buttons div {
    width: 50px;
    height: 50px;
    background-color: #45987A;
    margin: 1px;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-radius: 10px;
    border: 1px solid #1F5844;
}

#clear {
    width: 158px;
}

.buttons div:hover {
    background-color: #3F846B;
}


marquee {
	height: 25px;
	margin: 1px;
	margin-top: 5px;
	background-color: #BBDACF;
	border: 1px solid #CACACA;
	border-radius: 10px;
	text-align: center;
	line-height: 25px;
	color: #6F6D6D;
}